body{
    background-color: rgb(222, 209, 209);
}

.Fusion{
    margin-left: 35%;
}
p{
    font-size: 35px;
}
img{
    height: 450px;
    width: 45%;
    margin: 30px;

}
.cont1{
    margin-left: 18%;
}