body{
    background-color: rgb(180, 121, 129);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 30px;
}
.cont{
    height: 60%;
    width:60%;
    margin: auto;
}
.img1{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont1{
    height: 60%;
    width:60%;
    margin: auto;
}
.img2{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont3{
    height: 60%;
    width:60%;
    margin: auto;
}
.img3{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont4{
    height: 60%;
    width:60%;
    margin: auto;
}
.img4{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont5{
    height: 60%;
    width:60%;
    margin: auto;
}
.img5{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont6{
    height: 60%;
    width:60%;
    margin: auto;
}
.img6{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont7{
    height: 60%;
    width:60%;
    margin: auto;
}
.img7{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont8{
    height: 60%;
    width:60%;
    margin: auto;
}
.img8{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont9{
    height: 60%;
    width:60%;
    margin: auto;
}
.img9{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont10{
    height: 60%;
    width:60%;
    margin: auto;
}
.img10{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont11{
    height: 60%;
    width:60%;
    margin: auto;
}
.img11{
    margin: 10%;
    height: 100%;
    width: 100%;
}

.cont12{
    height: 60%;
    width:60%;
    margin: auto;
}
.img12{
    margin: 10%;
    height: 100%;
    width: 100%;
}